<div class="buyer-protection optBuyerCont">
    <div class="optLeftCont">
        <p>HAZZA<span>( 7 star )</span></p>
        <p class="optGrey">99.8% positive feedback</p>
    </div>
    <div class="optRightCont">
        <a href="//google.com">Learn More</a>
    </div>
</div>