.optBuyerCont {
 	display: flex;   
    justify-content: space-between;
    align-items: center;
}

.optBlue {
    color: #1083FF;
}

.optGrey {
	color: #888888;	
    font-family: Helvetica;	
    font-size: 12px;	
    line-height: 15px;
}

.optBlack {
    color: black;
    margin-right: 5px;
}

.optLeftCont .feedback-stars {
 	display: inline-block;   
}