<div class="optListingCont">
    <p>Trade Me Quality Listing</p>
    <div class="optQuestion">?</div>
    <div class="optPopup optTopPop optHidden"></div>
    <div class="optPopup optHidden">
        <div class="optClose">x</div>
        <p class="optTitle">Trade Me Quality Listing</p>
        <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
    </div>
    <div class="optTriangle optHidden"></div>
</div>