.mp-listing .right {
	float: none;
    display: inline-block;
}

.mp-listing .listing-id {
 	display: inline-block;   
}

.mp-listing .location {
 	display: inline-block;   
}
.mp-listing .title-content .tags span.location-icon {
 	display: none;
}

.mp-listing .title-content .tags span {
 	border: none; 

}

#ListingTitleBox_LocationText {
 	font-weight: 400;   
}

.optListingCont {
 	float: right;   
    position: relative;
    display: flex;
    padding: 1px;
   	background: url('https://image.ibb.co/mtLkWa/banner.png');
    width: 300px;
    height: 75px;
    background-size: cover;
	align-items: center;   
}

.optListingCont > p {
 	margin-left: 15px;   
    margin-top: -10px;
    font-size: 15px;
}

.optHidden {
 	display: none !important;   
}

.optQuestion {
    width: 15px;
    height: 15px;
    background: #1083FF;
    border-radius: 15px;
    margin-top: -8px;
    margin-left: 15px;
    color: white;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.optPopup {
    position: absolute;
    background: white;
    width: 322px;
    height: 100px;
    left: -180px;
    z-index: 999;
    padding: 14px 14px 20px 14px;
	top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.optTopPop {
    box-shadow: -2px 2px 6px 3px rgba(0,0,0,0.34);
    z-index: 997;   
}

.optClose {
 	height: 10px;
    width: 10px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 12px;
}

.optPopup p.optTitle {
 	font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
}

.optPopup p {
 	font-weight: 200;
    font-size: 12px;
    line-height: initial;
}

.optTriangle {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    position: absolute;
    right: 127px;
    top: 10px;
    background: white;
    box-shadow:-2px 3px 6px 3px rgba(0,0,0,0.34);
    z-index: 997;
}