.opt2 #Bidding_ShippingInfo.optMarginFix {
    margin: 0;
}

.opt2 #BuyNow_BuyNow {
    text-align: center;
    float: none;
}

body.opt2 .mp-listing .sidebar-content .btn-buynow {
 	width: 100% !important;
}