.optRight {
    height: 100%;
    padding: 14px 16px;
    background: white;
    -webkit-box-shadow: -3px 3px 12px -2px #616161;
    box-shadow: -3px 3px 12px -2px #616161;

}

.optLeft .feedback-column-flag {
    border-radius: 5px;
}

.optHolder .optLeft, .optHolder .optRight {
    width: 40%;
}

.optHolder.mp-listing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}