<div class="buyer-protection optBuyerCont">
    <div class="optLeftCont">
        <p><span>100%</span></p>
        <p class="optSmall">positive feedback</p>
    </div>
    <div class="optRightCont">
        <div class="optName">hazza</div>
        <div class="optUnder">
                
        </div>
    </div>
</div>