.opt3 #Watchlist_SaveToWatchlistButton {
    background: none;
    border: none;
    color: #D87E01;
}

.opt3 #Watchlist_SaveToWatchlistButton:hover {
    text-decoration: underline;
}

body.opt3 .mp-listing .sidebar-content .btn-add-cart, body.opt3 .mp-listing .sidebar-content .btn-buynow {
 	float: none;   
    width: 100% !important;
}

body.opt3 .mp-listing .sidebar-content .btn-add-cart {
 	background: rgba(0,0,0,.0);   
    color: #1083FF;
	border: 3px solid #1083FF;
    border-radius: 0;
}

body.opt3 .mp-listing .sidebar-content .btn-add-cart:hover {
    background: #1083FF;
    color: white;
}

.fa.fa-eye {
 	margin-right: 5px;
    text-decoration: none !important;
}