.menu-nav{
	margin:0 10px;
    height: 45px;
    background-color: #D93A3F;
    -webkit-box-shadow: inset 0px 8px 20px -10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 8px 20px -10px rgba(0, 0, 0, 0.4);
    color: #fff;
}
#section-menu-nav  > ul > li{
 	float:left;
    padding: 7px 11px;
}

.header-container {
    margin-top: 0px;
}
#section-menu-nav > ul > li:hover,
#section-menu-nav > ul > li:active,
#section-menu-nav > ul > li:visited,
#section-menu-nav > ul > li:focus{
    background-color: #B21C2A;
    border-radius: 5px 5px 0 0;
}
.search-bar{
    margin: 0 10px !important;
}
#section-menu-nav > ul{
	padding: 10px 50px 0;
}
.sub-content{
	margin: 32px 0px;
    height: auto;
    min-height: 250px;
    min-width: auto;
    background-color: #fff;
    position: absolute;
    padding: 20px 40px;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    z-index: 6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 880px;
    visibility: hidden;
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.2);
	box-shadow: 0px 0px 6px rgba(0,0,0,.2);
}
.sub-content.expand{
	visibility: visible;
}
.sub-content:before{
	content:" ";
    display:table;
    clear:both;
}
#section-menu-nav:before{
	clear:both;
    content:" ";
    display:table;
}
.sub-content > ul{
    padding: 0 30px 0;
}
.sub-content > ul > li > a > span{
	color:gray;
}
.sub-content > ul > li {
    padding: 2px 0;
}
.sub-img{
    position: absolute;
    right: 10px;
    top: 20px;
    min-height: 200px;
}
.sub-img > span{
    background-color: #FFFFFF;
    -webkit-box-shadow: -1px 5px 14px rgba(0,0,0,0.22);
    box-shadow: -1px 5px 14px rgba(0,0,0,0.22);
    position: absolute;
    bottom: 35px;
    right: 15px;
    padding: 10px 10px 40px 10px;
    color: #525252;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    min-width: 140px;
}
.sub-img > button{
    background-color: #148FE2;
    border-radius: 2px;
    color: #fff;
    border: 1px solid #148FE2;
    padding: 10px 35px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    z-index: 3;
    position: absolute;
    bottom: 23px;
    right: 40px;
    text-transform: capitalize;
}

#section-menu-nav li {
 	cursor: pointer;   
}

#section-menu-nav li.lsit > a {
 	color: white;   
}

#section-menu-nav li a:hover {
	text-decoration: none;
}

.sub-content:hover {
    visibility: visible !important;
}

.optBlackLink {
    
    color: black;
    font-weight: bold;
}
.optOrange {
    color: #ad5319;
    font-weight: bold;
}

.sub-img img {
 	width: 345px;   
    height: 100%;  
    min-height: 150px;
}


#sub-contentls_2 ul {
    width: 25%;
    padding: 0;
}

#sub-contentls_2 ul > li:nth-child(1) {
    display: block;
    background: #565656;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 5px 0;

}

.optUlContainer {
	width: 880px;
    position: absolute;
    left: 40px;   
    display: none;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    padding-top: 10px;
    height: 30%;
    padding-bottom: 100px;
    background: white;
}

.optUlContainer li {
 	-webkit-box-flex: 1;
 	-webkit-flex: 1 1 1;
 	-ms-flex: 1 1 1;
 	flex: 1 1 1;   
}

.optHovered .optUlContainer {
 	display: -webkit-box;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
}
#sub-contentls_2 ul.optHovered > li:nth-child(1) {
 	background: #2f2f2f;
    
}

#sub-contentls_2 ul > li:nth-child(1) a {
 	color: white;   
}

#sub-contentls_2 ul:nth-child(1) > li:nth-child(1) {
    border-radius: 5px 0 0 5px
}

#sub-contentls_2 ul:nth-child(4) > li:nth-child(1) {
    border-radius: 0 5px 5px 0
}
    

#sub-contentls_2 ul.optHovered > li:nth-child(1):after{
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15.5px 0px 15.5px;
    border-color: #2f2f2f transparent transparent transparent;
    content: "";
    position: absolute;
    z-index: 999;
    bottom: -10px;
    left: -webkit-calc(50% - 7.5px);
    left: calc(50% - 7.5px);

}